<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>JIRA Tasks Overview</title>
</head>
<body>
<div class="container">
    <h1>JIRA Tasks Overview</h1>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Settings</h3>
            <form action="/action" name="main-form" id="main-form" method="POST">
                <div class="mb-3">
                    <label class="form-label">Base API URI:</label>
                    <input class="form-control" type="text" id="uri" name="uri" autocomplete="no" value="{{ .uri }}"/>

                    <div id="uriHelpBlock" class="form-text">
                        Your API URI entrypoint. More info can be found
                        <a href="https://developer.atlassian.com/server/jira/platform/rest-apis/" class="link-info" target="_blank">here</a>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="user" class="form-label">Username:</label>
                    <input class="form-control" type="email" id="user" name="user" autocomplete="no" value="{{ .user }}"/>
                </div>

                <div class="mb-3">
                    <label for="token" class="form-label">API token:</label>
                    <input class="form-control" type="password" id="token" name="token" autocomplete="no" value="{{ .token }}"/>
                    <div id="tokenHelpBlock" class="form-text">
                        Your API token generated in Atlassian profile. Keep empty if user matches defaults
                    </div>
                </div>

                <div class="mb-3">
                    <label for="token" class="form-label">Filter JQL:</label>
                    <!-- <input class="form-control" type="text" pattern="^\d+$" id="filter" name="filter" autocomplete="no" value=""/> -->
                    <textarea class="form-control" placeholder="Leave a JQL here" id="filter" name="filter"></textarea>
                    <div id="filteIdInfo" class="form-text">
                        Filter JQL to use for issues display
                    </div>
                </div>

                <input type="hidden" name="action" value="show" id="action">

                <div class="d-flex justify-content-between mt-5 mb-5">
                    <div>
                        <div class="btn-group" role="group" aria-label="Settings">
                            <button type="button" class="btn btn-outline-primary" id="input-save-btn">Save</button>
                            <button type="button" class="btn btn-outline-primary" id="input-restore-btn">Restore</button>
                            <button type="button" class="btn btn-outline-primary" id="input-clear-btn">Clear</button>
                        </div>
                    </div>

                    <div>
                        <input class="btn btn-secondary mr-2" id="list-filters-btn" value="List filters" name=show>
                        <input class="btn btn-secondary" type=button value="Show task relations" name=show id="show-tasks-btn">
                        <input class="btn btn-primary" type=button value="Show diagram" name=show id="show-diagram-btn">
                    </div>
                </div>
            </form>
        </div>
      </div>

    <div class="pt-5 pb-3">
        <a class="btn btn-info" data-bs-toggle="collapse" href="#output" role="button">Toggle output</a>
    </div>

    <div id="output" hidden class="mt-5">
        <h3 class="mb-3">Output</h3>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="notifyModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <!-- Template -->
    <template id="filter-tpl">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-subtitle filter-desc"></p>
                <div class="card-text bg-light p-2 mt-2 mb-2">
                    <pre><code class="filter-code"></code></pre>
                </div>
                <a href="#" target="_blank" class="card-link filter-self">Filter API</a>
                <a href="#" target="_blank" class="card-link filter-search">Search API</a>
                <a href="#" target="_blank" class="card-link filter-issues">View Issues</a>
            </div>
        </div>
    </template>

    <template id="issue-tpl">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <div class="card-text bg-light text-secondary p-3 mb-3 issue-desc"></div>
                <a href="#" target="_blank" class="card-link issue-self">View Issue</a>
                <a href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" class="card-link issue-parent">Parent Issue</a>

                <div class="card-header mt-3 issue-ref-header">Relations</div>
                <ul class="list-group list-group-flush issue-links"></ul>
            </div>
        </div>
    </template>

    <template id="issue-link-tpl">
        <li class="list-group-item"><span class="issue-label"></span> <a href="#" target="_blank" class="card-link issue-ref"></a></li>
    </template>

    <!-- Diagram Workflow Mermaid -->
    <template id="mermaid-tpl">
        <pre class="mermaid" id="mermaid">
            graph LR
            A --- B
            B-->C[fa:fa-ban forbidden]
            B-->D(fa:fa-spinner);
        </pre>
    </template>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mermaid@10.5.0/dist/mermaid.min.js"></script>

<script>
    (function() {
        let jiraUri = '{{ .jira_uri }}';
        // mermaid.initialize();

        document.addEventListener('DOMContentLoaded', function () {
            mermaid.initialize({ startOnLoad: false });

            let uriBaseEl = document.getElementById('uri');
            let userEl = document.getElementById('user');
            let tokenEl = document.getElementById('token');
            let actionEl = document.getElementById('action');
            let filterEl = document.getElementById('filter');

            let inputSaveEl = document.getElementById('input-save-btn');
            let inputRestoreEl = document.getElementById('input-restore-btn');
            let inputClearEl = document.getElementById('input-clear-btn');

            let notifyModalEl = document.getElementById('notifyModal');
            let notifyModal = new bootstrap.Modal(notifyModalEl);

            document.getElementById('list-filters-btn').addEventListener('click', function onListFiltersClick() {
                if (!userEl.value || !tokenEl.value || !uriBaseEl.value) {
                    notify('[ERROR] Input values are not defined')

                    return;
                }

                axios({
                    method: 'get',
                    url: _.trimEnd(uriBaseEl.value, '/') + '/filter/my',
                    // method: 'post',
                    // url: '/action',
                    // data: {
                    //     action: 'list-filters',
                    //     username: userEl.value,
                    //     password: tokenEl.value
                    // }
                    auth: {
                        username: userEl.value,
                        password: tokenEl.value
                    },
                    withCredentials: true,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                })
                .then((response) => showFilters(response.data))
                .catch(function (e) {
                    console.error(e);
                    notify('[ERROR] ' + e.message);
                });
            });

            document.getElementById('show-tasks-btn').addEventListener('click', function onShowTasks() {
                let jqlQuery = _.trim(filterEl.value)

                if (!userEl.value || !tokenEl.value || !jqlQuery) {
                    notify('[ERROR] Input values are not defined')

                    return;
                }

                axios({
                    method: 'get',
                    url: _.trimEnd(uriBaseEl.value, '/') + '/search',
                    params: {jql: jqlQuery},
                    auth: {
                        username: userEl.value,
                        password: tokenEl.value
                    },
                    withCredentials: true,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                })
                .then((response) => showIssues(response.data))
                .catch(function (e) {
                    console.error(e);
                    notify('[ERROR] ' + e.message);
                });
            });

            inputSaveEl.addEventListener('click', () => saveInput());
            inputRestoreEl.addEventListener('click', () => restoreInput());
            inputClearEl.addEventListener('click', () => clearInput());


            document.getElementById('show-diagram-btn').addEventListener('click', function onShowDiagram() {
                let jqlQuery = _.trim(filterEl.value)

                if (!userEl.value || !tokenEl.value || !jqlQuery) {
                    notify('[ERROR] Input values are not defined')

                    return;
                }

                axios({
                    method: 'get',
                    url: _.trimEnd(uriBaseEl.value, '/') + '/search',
                    params: {jql: jqlQuery},
                    auth: {
                        username: userEl.value,
                        password: tokenEl.value
                    },
                    withCredentials: true,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                })
                .then((response) => showDiagram(response.data))
                .catch(function (e) {
                    console.error(e);
                    notify('[ERROR] ' + e.message);
                });
            });

            function notify(message) {
                notifyModalEl.querySelector('.modal-body').innerText = message
                notifyModal.show();
            }

            function saveInput() {
                let data = {uri: uriBaseEl.value, user: userEl.value, token: tokenEl.value, filter: filterEl.value};
                console.log('data', data);

                localStorage.setItem('input', JSON.stringify(data));

                notify('Form input is stored!')
            }

            function restoreInput(silent) {
                let input = localStorage.getItem('input');

                if (!input) {
                    if (typeof silent === 'undefined' || !silent) {
                        notify('Storage is empty');
                    }

                    return;
                }

                input = JSON.parse(input)

                uriBaseEl.value = input.uri
                userEl.value = input.user
                tokenEl.value = input.token
                filterEl.value = input.filter
            }

            function clearInput() {
                localStorage.clear();

                uriBaseEl.value = '{{ .uri }}'
                userEl.value = '{{ .user }}'
                tokenEl.value = '{{ .token }}'
                filterEl.value = ''

                notifyModalEl.querySelector('.modal-body').innerText = 'Form input storage is cleared!'
                notifyModal.show();
            }

            restoreInput(true);
        });

        function showDiagram(data) {
            if (data.total >= data.maxResults) {
                notify('Reached page items limit. Update JQL query if possible');
            }

            let outEl = document.getElementById('output');
            let tplEl = document.getElementById('mermaid-tpl');

            outEl.innerHTML = '';

            let el = tplEl.content.cloneNode(true);

            console.info('[before] ', el.innerHTML, outEl);

            // el.firstElementChild.innerHTML = makeDiagram(data.issues)
            // el.firstElementChild.innerHTML = '';
            outEl.appendChild(el.firstElementChild);
            outEl.hidden = false;

            console.info('[one more] ', outEl.innerHTML, el);


            // mermaid.run();

            // mermaid.render('mermaid', 'flowchart TB\na-->b').then((v) => {
            // mermaid.render('mermaid', makeDiagram(data.issues)).then((v) => {
            mermaid.render('mermaid', makeDiagram(data.issues)).then((v) => {
                console.log('[RENDER] ', v, 'out.innerHTML', outEl.innerHTML);
                outEl.innerHTML = v.svg;
            });
            // mermaid.render('mermaid', makeDiagram(data.issues)).then((v) => console.log('[render] ', v));
            // mermaid.run();

            console.info('[after] ', outEl.innerHTML);
        }

        function makeDiagram(issues) {
            let out = [
`flowchart LR`
            ];
            let issueKeys = [];

            let addIssueDesc = function (item) {
                if (issueKeys.indexOf(item.key) !== -1) {
                    return; // already added
                }

                item.fields.summary = item.fields.summary.replaceAll('"', '');

                let title = makeTitle(item);
                out.push(`    ${item.key}("${title}")`);
                // out.push(`    ${item.key}("\`${title}\`")`);
                issueKeys.push(item.key);
            };

            // TODO: addParentRef

            let refKeys = [];
            let addRefIssue = function (type, from, to) {
// return;

                let key = type.name + '.' + _.sortBy([from.key, to.key]).join('.');
                if (refKeys.indexOf(key) !== -1) {
                    return; // already added
                }

                switch (type.name) {
                    case 'Parent':
                        out.push(`    ${from.key} -. parent .-> ${to.key}`);
                        break;
                    case 'Blocks':
                        if (type.desc === 'blocks') {
                            out.push(`    ${from.key} -- blocks --> ${to.key}`);
                        } else {
                            out.push(`    ${to.key} -- blocks --> ${from.key}`);
                        }
                        break;
                    case 'Cloners':
                        if (type.desc === 'clones') {
                            out.push(`    ${from.key} -- clones --> ${to.key}`);
                        } else {
                            out.push(`    ${to.key} -- clones --> ${from.key}`);
                        }
                        break;
                    case 'Relates':
                        out.push(`    ${from.key} -- relates --- ${to.key}`);
                        break;
                    default:
                        // out.push(`    ${from.key} x-- ${type.dir} --x ${to.key}`);
                        out.push(`    ${from.key} o-- ${type.dir} --o ${to.key}`);
                }

                // if (type.name === 'Parent') {
                //     // A-. text .-> B
                //     // out.push(`    ${from.key}-.-> ${to.key}`);
                //     out.push(`    ${from.key}-. "${type.name}" .-> ${to.key}`);
                // } else if (type.name === 'Blocks') {

                // } else if (type.name ==) {

                // }

                // out.push(`    ${item.key}("${item.fields.summary.replaceAll('"', '')}")`);
                // issueKeys.push(key);

                console.info('[refs]', refKeys);
            };

            issues.forEach(function (item) {
                addIssueDesc(item);

                if (item.fields.parent) {
                    addRefIssue({name: 'Parent', dir: 'parent'}, item, item.fields.parent);
                }

                // let linksEl = el.querySelector('.issue-links');

                // let linksCount = 0;
                if (item.fields.issuelinks && item.fields.issuelinks.length > 0) {
                    item.fields.issuelinks.forEach(function (ref) {
                        let issue;
                        let refType;

                        if (ref.outwardIssue) {
                            issue = ref.outwardIssue;
                            refType = ref.type.outward;
                        } else {
                            issue = ref.inwardIssue;
                            refType = ref.type.inward;
                        }

                        if (_.get(item, 'fields.parent.id') === issue.id) {
                            return; // if references parent issue then skip
                        }

                        addRefIssue({name: ref.name, dir: refType}, item, issue);

                        // let itemEl = issueTplEl.content.cloneNode(true);


                        // itemEl.querySelector('.issue-label').innerText = refType;

                        // let linkEl = itemEl.querySelector('.issue-ref');
                        // linkEl.innerText = makeTitle(issue);
                        // linkEl.href = makeIssueHref(issue);

                        // linksEl.appendChild(itemEl);
                        // linksCount += 1;
                    });
                }

                // if (linksCount === 0) {
                //     linksEl.parentNode.removeChild(linksEl);

                //     let refHeaderEl = el.querySelector('.issue-ref-header');
                //     refHeaderEl.parentNode.removeChild(refHeaderEl);
                // }


                // outEl.appendChild(el.firstElementChild)



            });

            console.info('[Diagram] ', out.join("\n"));

            return out.join("\n");
        }


        function showFilters(data) {
            let outEl = document.getElementById('output');
            let tplEl = document.getElementById('filter-tpl');

            outEl.innerHTML = '';

            data.forEach(function (item) {
                let el = tplEl.content.cloneNode(true)
                el.querySelector('.card-title').innerText = '[' + item.id + '] ' + item.name;
                el.querySelector('.filter-desc').innerText = item.description;
                el.querySelector('.filter-code').innerText = item.jql;
                el.querySelector('.filter-self').href = item.self;
                el.querySelector('.filter-search').href = item.searchUrl;
                el.querySelector('.filter-issues').href = item.viewUrl;

                outEl.appendChild(el.firstElementChild)
            });

            outEl.hidden = false
        }

        function makeTitle(issue) {
            return '[' + _.get(issue, 'fields.issuetype.name') + ' | ' +
                _.get(issue, 'fields.status.name') + ' | ' +
                issue.key  + '] ' +
                _.get(issue, 'fields.summary');
        }

        function makeIssueHref(issue) {
            return jiraUri + '/browse/' + issue.key;
        }

        function showIssues(data) {
            let outEl = document.getElementById('output');
            let tplEl = document.getElementById('issue-tpl')
            let issueTplEl = document.getElementById('issue-link-tpl')

            outEl.innerHTML = ''; // clear input

            data.issues.forEach(function (item) {
                let el = tplEl.content.cloneNode(true)
                // el.querySelector('.card-title').innerText = '[' + item.key + '] ' + item.fields.summary;
                el.querySelector('.card-title').innerText = makeTitle(item);
                el.querySelector('.issue-desc').innerText = _.truncate(item.fields.description, {length: 300});

                el.querySelector('.issue-self').href = makeIssueHref(item);

                let parentEl = el.querySelector('.issue-parent');
                if (!item.fields.parent) {
                    parentEl.parentNode.removeChild(parentEl);
                } else {
                    let parentInfo = item.fields.parent;
                    parentEl.href = makeIssueHref(parentInfo);
                    parentEl.title = makeTitle(parentInfo)
                }

                let linksEl = el.querySelector('.issue-links');

                let linksCount = 0;
                if (item.fields.issuelinks && item.fields.issuelinks.length > 0) {
                    item.fields.issuelinks.forEach(function (ref) {
                        let issue;
                        let refType;

                        if (ref.outwardIssue) {
                            issue = ref.outwardIssue;
                            refType = ref.type.outward;
                        } else {
                            issue = ref.inwardIssue;
                            refType = ref.type.inward;
                        }

                        if (_.get(item, 'fields.parent.id') === issue.id) {
                            return; // if references parent issue then skip
                        }

                        let itemEl = issueTplEl.content.cloneNode(true);


                        itemEl.querySelector('.issue-label').innerText = refType;

                        let linkEl = itemEl.querySelector('.issue-ref');
                        linkEl.innerText = makeTitle(issue);
                        linkEl.href = makeIssueHref(issue);

                        linksEl.appendChild(itemEl);
                        linksCount += 1;
                    });
                }

                if (linksCount === 0) {
                    linksEl.parentNode.removeChild(linksEl);

                    let refHeaderEl = el.querySelector('.issue-ref-header');
                    refHeaderEl.parentNode.removeChild(refHeaderEl);
                }


                outEl.appendChild(el.firstElementChild)

                // if (!item.fields.parent) {
                //     new bootstrap.Tooltip(parentEl);
                // }
            });

            outEl.hidden = false
        }
    })()

</script>
</body>
</html>
