<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>JIRA tasks visualizer</title>
</head>
<body>
<div class="container">

    <h1>Welcome to home page!</h1>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">API settings</h3>
            <form action="/action" name="main-form" id="main-form" method="POST">
                <div class="mb-3">
                    <label class="form-label">URI:</label>
                    <input class="form-control" type="url" id="uri" name="uri" autocomplete="no" value="{{ .uri }}"/>

                    <div id="uriHelpBlock" class="form-text">
                        Your API URI entrypoint. More info can be found
                        <a href="https://developer.atlassian.com/server/jira/platform/rest-apis/" class="link-info" target="_blank">here</a>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="user" class="form-label">Username:</label>
                    <input class="form-control" type="email" id="user" name="user" autocomplete="no" value="{{ .user }}"/>
                </div>
                <div class="mb-3">
                    <label for="token" class="form-label">API token:</label>
                    <input class="form-control" type="password" id="token" name="token" autocomplete="no" value="{{ .token }}"/>
                    <div id="tokenHelpBlock" class="form-text">
                        Your API token generated in Atlassian profile. Keep empty if user matches defaults
                    </div>
                </div>

                <input type="hidden" name="action" value="show" id="action">

                <div class="d-flex justify-content-between mt-5 mb-5">
                    <div>
                        <div class="btn-group" role="group" aria-label="Settings">
                            <button type="button" class="btn btn-outline-primary" id="input-save-btn">Save</button>
                            <button type="button" class="btn btn-outline-primary" id="input-restore-btn">Restore</button>
                            <button type="button" class="btn btn-outline-primary" id="input-clear-btn">Clear</button>
                        </div>
                    </div>

                    <div>
                        <input class="btn btn-secondary" id="list-filters-btn" value="List filters" name=show>
                        <input class="btn btn-primary" type=submit value="Show task relations" name=show>
                    </div>
                </div>
            </form>
        </div>
      </div>


    <!-- Modal -->
    <div class="modal fade" id="notifyModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let uriBaseEl = document.getElementById('uri');
        let userEl = document.getElementById('user');
        let tokenEl = document.getElementById('token');
        let actionEl = document.getElementById('action');

        let inputSaveEl = document.getElementById('input-save-btn');
        let inputRestoreEl = document.getElementById('input-restore-btn');
        let inputClearEl = document.getElementById('input-clear-btn');

        let notifyModalEl = document.getElementById('notifyModal');
        let notifyModal = new bootstrap.Modal(notifyModalEl);

        document.getElementById('list-filters-btn').addEventListener('click', function onListFiltersClick() {
            axios({
                method: 'get',
                url: _.trimEnd(uriBaseEl.value, '/') + '/filter/my',
                // method: 'post',
                // url: '/action',
                // data: {
                //     action: 'list-filters',
                //     username: userEl.value,
                //     password: tokenEl.value
                // }
                auth: {
                    username: userEl.value,
                    password: tokenEl.value
                },
                withCredentials: true,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
            })
            .then(function (response) {
                console.info('response', response)
            });
        })

        inputSaveEl.addEventListener('click', () => saveInput());
        inputRestoreEl.addEventListener('click', () => restoreInput());
        inputClearEl.addEventListener('click', () => clearInput());

        function notify(message) {
            notifyModalEl.querySelector('.modal-body').innerText = message
            notifyModal.show();
        }

        function saveInput() {
            let data = {uri: uriBaseEl.value, user: userEl.value, token: tokenEl.value};
            console.log('data', data);

            localStorage.setItem('input', JSON.stringify(data));

            notify('Form input is stored!')
        }

        function restoreInput() {
            let input = localStorage.getItem('input');

            if (!input) {
                notify('Storage is empty');

                return;
            }

            input = JSON.parse(input)

            uriBaseEl.value = input.uri
            userEl.value = input.user
            tokenEl.value = input.token
        }

        function clearInput() {
            localStorage.clear();

            uriBaseEl.value = '{{ .uri }}'
            userEl.value = '{{ .user }}'
            tokenEl.value = '{{ .token }}'

            notifyModalEl.querySelector('.modal-body').innerText = 'Form input storage is cleared!'
            notifyModal.show();
        }
    })
</script>
</body>
</html>
