<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/favicon.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.min.js" integrity="sha512-LW9+kKj/cBGHqnI4ok24dUWNR/e8sUD8RLzak1mNw5Ja2JYCmTXJTF5VpgFSw+VoBfpMvPScCo2DnKTIUjrzYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>JIRAssic Park</title>
</head>
<body>
<div class="container-fluid" style="min-width: 3000px">
    <h1>JIRA Tasks Overview</h1>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Settings</h3>
            <form action="/action" name="main-form" id="main-form" method="POST" style="max-width: 1400px;">
                <div class="mb-3">
                    <label class="form-label">Base API URI:</label>
                    <input class="form-control" type="text" id="uri" name="uri" autocomplete="no" value="{{ .uri }}"/>

                    <div id="uriHelpBlock" class="form-text">
                        Your API URI entrypoint. More info can be found
                        <a href="https://developer.atlassian.com/server/jira/platform/rest-apis/" class="link-info" target="_blank">here</a>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="user" class="form-label">Username:</label>
                    <input class="form-control" type="email" id="user" name="user" autocomplete="no" value="{{ .user }}"/>
                </div>

                <div class="mb-3">
                    <label for="token" class="form-label">API token:</label>
                    <input class="form-control" type="password" id="token" name="token" autocomplete="no" value="{{ .token }}"/>
                    <div id="tokenHelpBlock" class="form-text">
                        Your API token generated in Atlassian profile. Keep empty if user matches defaults
                    </div>
                </div>

                <div class="mb-3">
                    <label for="token" class="form-label">Filter JQL:</label>
                    <textarea class="form-control font-monospace" placeholder="Leave a JQL here" spellcheck="false" id="filter" name="filter" style="height: 10rem;"></textarea>
                    <div id="filteIdInfo" class="form-text">
                        Filter JQL to use for issues display
                    </div>
                </div>

                <div class="mb-3">
                    <label for="issue-extra-fields" class="form-label">Extra issue fields:</label>
                    <textarea class="form-control font-monospace" placeholder="Specify extra fields here..." spellcheck="false" id="issue-extra-fields" name="issue-extra-fields" style="height: 10rem;"></textarea>
                    <div id="filteIdInfo" class="form-text">
                        Using dot notation specify extra fields you want to have in diagram and issues list, separated by new line. Label can be added after colon.
                        Read <a rel="nofollow" class="link-info" href="https://developer.atlassian.com/server/jira/platform/rest-apis/" target="_blank">API docs</a> or look in to dev toolbar response output for params info
                        <p>
                            <strong>Example:</strong>
                            <pre class="bg-light p-2"><code>id
key
fields.created:Issue created
fields.priority.name: Priority</code></pre>
                        </p>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="hide-parents">
                        <label class="form-check-label" for="hide-parents">Hide parent references</label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="hide-tests">
                        <label class="form-check-label" for="hide-tests">Hide test references</label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="open-image">
                        <label class="form-check-label" for="open-image">
                            Open image in new tab instead of download during diagram export
                        </label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="disable-icons">
                        <label class="form-check-label" for="disable-icons">Disable icons in diagram</label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="short-issue-desc">
                        <label class="form-check-label" for="short-issue-desc">Short issue description</label>
                    </div>
                </div>

                <input type="hidden" name="action" value="show" id="action">

                <div class="d-flex justify-content-between mt-5 mb-5">
                    <div>
                        <div class="btn-group" role="group" aria-label="Settings">
                            <button type="button" class="btn btn-outline-primary" id="input-save-btn">Save</button>
                            <button type="button" class="btn btn-outline-primary" id="input-restore-btn">Restore</button>
                            <button type="button" class="btn btn-outline-primary" id="input-clear-btn">Clear</button>
                        </div>
                    </div>

                    <div>
                        <div class="btn-group" role="group" aria-label="Show issues">
                            <button class="btn btn-secondary" id="list-filters-btn" name=list-filters>
                                <i class="fas fa-filter"></i> Show filters
                            </button>

                            <button class="btn btn-secondary" type=button name=show-tasks id="show-tasks-btn">
                                <i class="fab fa-jira"></i> Show issues
                            </button>
                        </div>

                        <button class="btn btn-primary" name=show-diagram id="show-diagram-btn" type="submit">
                            <i class="fas fa-project-diagram"></i> Show diagram
                        </button>

                        <button class="btn btn-success" name=render-diagram id="render-diagram-btn">
                            <i class="fas fa-bolt"></i> Render from Input
                        </button>

                        <div class="btn-group" role="group" aria-label="Export">
                            <button type="button" class="btn btn-success" id="download-diagram-png-btn"><i class="fas fa-file-download"></i> Export PNG</button>
                            <button type="button" class="btn btn-success" id="download-diagram-svg-btn"><i class="fas fa-file-download"></i> Export SVG</button>
                            <!-- <button type="button" class="btn btn-success" id="download-diagram-svg-btn-v2">Export SVG v.2</button> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>


    <div class="pt-5 pb-3">
        <a class="btn btn-info" data-bs-toggle="collapse" href="#input" role="button">Toggle diagram input</a>
    </div>

    <div>
        <h3>Input</h3>
        <textarea id="input" class="form-control collapse bg-light" style="overflow-x: auto; min-height: 300px; max-width: 1400px; white-space: pre; font-monospace">
graph LR
    A --- B
    B-->C[forbidden]
    B-. uses .->D
        </textarea>
    </div>

    <div class="pt-5 pb-3">
        <a class="btn btn-info" data-bs-toggle="collapse" href="#output" role="button">Toggle output</a>
    </div>

    <h3 class="mb-3">Output</h3>
    <div id="output" class="mt-5 mb-5 collapse" style="overflow-x: auto; "></div>

    <!-- Modal -->
    <div class="modal fade" id="notifyModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <!-- Template -->
    <template id="filter-tpl">
        <div class="card mb-3" style="max-width: 1400px;">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-subtitle filter-desc"></p>
                <div class="card-text bg-light p-2 mt-2 mb-2">
                    <pre><code class="filter-code"></code></pre>
                </div>
                <a href="#" target="_blank" class="card-link filter-self">Filter API</a>
                <a href="#" target="_blank" class="card-link filter-search">Search API</a>
                <a href="#" target="_blank" class="card-link filter-issues">View Issues</a>
            </div>
        </div>
    </template>

    <template id="issue-tpl">
        <div class="card mb-3" style="max-width: 1400px;">
            <div class="card-header h5"></div>
            <div class="card-body">
                <!-- <h5 class="card-title"></h5> -->
                <div class="card-text bg-light text-secondary p-3 mb-3 issue-desc"></div>
                <div class="issue-extra mb-3"></div>

                <a href="#" target="_blank" class="card-link issue-self">View Issue</a>
                <a href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" class="card-link issue-parent">Parent Issue</a>

                <div class="card-header mt-3 issue-ref-header">Relations</div>
                <ul class="list-group list-group-flush issue-links"></ul>
            </div>
        </div>
    </template>

    <template id="issue-link-tpl">
        <li class="list-group-item"><span class="issue-label"></span> <a href="#" target="_blank" class="card-link issue-ref"></a></li>
    </template>

    <!-- Diagram Workflow Mermaid -->
    <template id="mermaid-tpl">
        <pre class="mermaid" id="mermaid"></pre>
    </template>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mermaid@10.5.0/dist/mermaid.min.js"></script>

<!-- For Kroki Export -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.11/pako.min.js" integrity="sha512-euWc/Qv8Kp0CbTX1M+Q3BvUyoOaq9Au50TT7vz3MFf5ver39ybq6zV+RngDY8eN8AIQFigxjwYv6jhoP546vfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

<!-- For Mermaid Export -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js" integrity="sha512-g2TeAWw5GPnX7z0Kn8nFbYfeHcvAu/tx6d6mrLe/90mkCxO+RcptyYpksUz35EO337F83bZwcmUyHiHamspkfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    (function() {
        let jiraUri = '{{ .jira_uri }}';

        let uriBaseEl = document.getElementById('uri');
        let userEl = document.getElementById('user');
        let tokenEl = document.getElementById('token');
        let actionEl = document.getElementById('action');
        let filterEl = document.getElementById('filter');
        let hideParentsBtn = document.getElementById('hide-parents');
        let hideTestsBtn = document.getElementById('hide-tests');
        let openImgEl = document.getElementById('open-image');
        let shortIssueEl = document.getElementById('short-issue-desc');
        let disableIconsEl = document.getElementById('disable-icons');
        let extraParamsEl = document.getElementById('issue-extra-fields');

        let inputSaveEl = document.getElementById('input-save-btn');
        let inputRestoreEl = document.getElementById('input-restore-btn');
        let inputClearEl = document.getElementById('input-clear-btn');

        let notifyModalEl = document.getElementById('notifyModal');
        let notifyModal = new bootstrap.Modal(notifyModalEl);

        let inEl = document.getElementById('input');
        var inCollapse = new bootstrap.Collapse(inEl, {toggle: false});

        let outEl = document.getElementById('output');
        var outCollapse = new bootstrap.Collapse(outEl, {toggle: false});

        document.addEventListener('DOMContentLoaded', function () {
            mermaid.initialize({
                startOnLoad: false,
                flowchart: { useMaxWidth: true, htmlLabels: true },
                securityLevel: 'loose',
                // theme: 'base',
                // theme: 'forest',
            });

            // mermaid.flowchartConfig = {
            //     width: 100%
            // };

            document.getElementById('list-filters-btn').addEventListener('click', function onListFiltersClick(e) {
                e.stopPropagation();
                e.preventDefault();

                if (!userEl.value || !tokenEl.value || !uriBaseEl.value) {
                    notify('[ERROR] Input values are not defined')

                    return;
                }

                inCollapse.hide();

                axios({
                    method: 'get',
                    url: _.trimEnd(uriBaseEl.value, '/') + '/filter/my',
                    auth: {
                        username: userEl.value,
                        password: tokenEl.value
                    },
                    withCredentials: true,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                })
                .then((response) => showFilters(response.data))
                .catch(function (e) {
                    console.error(e);
                    notify('[ERROR] ' + e.message);
                });
            });

            document.getElementById('show-tasks-btn').addEventListener('click', function onShowTasks() {
                let jqlQuery = _.trim(filterEl.value)

                if (!userEl.value || !tokenEl.value || !jqlQuery) {
                    notify('[ERROR] Input values are not defined')

                    return;
                }

                inCollapse.hide();

                searchIssues(jqlQuery).then((response) => showIssues(response.data))
            });

            inputSaveEl.addEventListener('click', () => saveInput());
            inputRestoreEl.addEventListener('click', () => restoreInput());
            inputClearEl.addEventListener('click', () => clearInput());


            document.getElementById('show-diagram-btn').addEventListener('click', onShowDiagram);
            document.getElementById('main-form').addEventListener('submit', onShowDiagram);

            function onShowDiagram(e) {
                e.stopPropagation();
                e.preventDefault();

                let jqlQuery = _.trim(filterEl.value)

                if (!userEl.value || !tokenEl.value || !jqlQuery) {
                    notify('[ERROR] Input values are not defined')

                    return;
                }

                axios({
                    method: 'get',
                    url: _.trimEnd(uriBaseEl.value, '/') + '/search',
                    params: {jql: jqlQuery},
                    auth: {
                        username: userEl.value,
                        password: tokenEl.value
                    },
                    withCredentials: true,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                })
                .then((response) => showDiagram(response.data))
                .catch(function (e) {
                    console.error(e);
                    notify('[ERROR] ' + e.message);
                });
            }

            document.getElementById('download-diagram-png-btn').addEventListener('click', function onShowDiagram() {
                try {
                    makeDiagramUrl('png');
                    // downloadDiagramAsPng();
                } catch (e) {
                    console.error('[ERROR] ', e);
                    notify('[ERROR] ' + e.message);
                }
            });

            document.getElementById('download-diagram-svg-btn').addEventListener('click', function onShowDiagram() {
                try {
                    // TODO: cleanup font awesome icons (fa:), links (click)
                    makeDiagramUrl('svg');
                } catch (e) {
                    console.error('[ERROR] ', e);
                    notify('[ERROR] ' + e.message);
                }
            });

            // TODO: either remove me later or enable
            // document.getElementById('download-diagram-svg-btn-v2').addEventListener('click', function onShowDiagramV2() {
            //     try {
            //         // TODO: cleanup font links
            //         downloadDiagramAsSvg();
            //     } catch (e) {
            //         console.error('[ERROR] ', e);
            //         notify('[ERROR] ' + e.message);
            //     }
            // });

            document.getElementById('render-diagram-btn').addEventListener('click', function onShowDiagram() {
                const diagramContent = inEl.value.trim();
                if (!diagramContent) {
                    notify('Click "Show diagram" button or edit manually "Input" before trying to render');

                    return;
                }

                try {
                    outCollapse.show();
                    mermaid.render('mermaid', diagramContent).then((v) => {
                        outEl.innerHTML = v.svg;
                        // console.log('[RENDER] ', outEl.innerHTML, diagramContent);
                    });
                } catch (e) {
                    console.error('[ERROR] ', e);
                    notify('[ERROR] ' + e.message);
                }
            });

            function saveInput() {
                let data = {
                    uri: uriBaseEl.value,
                    user: userEl.value,
                    token: tokenEl.value,
                    filter: filterEl.value,
                    hideParents: hideParentsBtn.checked,
                    hideTests: hideTestsBtn.checked,
                    openImage: openImgEl.checked,
                    shortIssue: shortIssueEl.checked,
                    disableIcons: disableIconsEl.checked,
                    extraParams: extraParamsEl.value,
                };

                localStorage.setItem('input', JSON.stringify(data));

                notify('Form input is stored!')
            }

            function restoreInput(silent) {
                let input = localStorage.getItem('input');

                if (!input) {
                    if (typeof silent === 'undefined' || !silent) {
                        notify('Storage is empty');
                    }

                    return;
                }

                input = JSON.parse(input)

                uriBaseEl.value = input.uri
                userEl.value = input.user
                tokenEl.value = input.token
                filterEl.value = input.filter
                hideParentsBtn.checked = !!input.hideParents;
                hideTestsBtn.checked = !!input.hideTests;
                openImgEl.checked = !!input.openImage;
                shortIssueEl.checked = !!input.shortIssue;
                disableIconsEl.checked = !!input.disableIcons;
                extraParamsEl.value = !!input.extraParams ? input.extraParams : '';
            }

            function clearInput() {
                localStorage.clear();

                uriBaseEl.value = '{{ .uri }}'
                userEl.value = '{{ .user }}'
                tokenEl.value = '{{ .token }}'
                filterEl.value = ''
                hideParentsBtn.checked = false;
                hideTestsBtn.checked = false;
                openImgEl.checked = false;
                shortIssueEl.checked = false;
                extraParamsEl.value = '';

                notifyModalEl.querySelector('.modal-body').innerText = 'Form input storage is cleared!'
                notifyModal.show();
            }

            restoreInput(true);
        });

        function notify(message) {
            notifyModalEl.querySelector('.modal-body').innerText = message
            notifyModal.show();
        }

        function downloadDiagramAsPng() {
            let svgEl = document.querySelector('svg');
            if (!svgEl) {
                notify('Click "Show diagram" button before trying to export');

                return;
            }

            svgEl.crossOrigin = 'anonymous';
            const svgString = (new XMLSerializer()).serializeToString(svgEl);
            const svgBlob = new Blob([svgString], {
                type: 'image/svg+xml;charset=utf-8'
            });
            svgBlob.crossOrigin = 'anonymous';

            const DOMURL = window.URL || window.webkitURL || window;
            const url = DOMURL.createObjectURL(svgBlob);

            const image = new Image();
            image.width = svgEl.width.baseVal.value;
            image.height = svgEl.height.baseVal.value;

            image.onload = function () {
                const canvas = document.createElement('CANVAS');
                // const canvas = document.querySelector('canvas');

                canvas.width = image.width;
                canvas.height = image.height;

                try {
                    const ctx = canvas.getContext('2d');
                    ctx.drawImage(image, 0, 0);
                    DOMURL.revokeObjectURL(url);

                    const imgURI = canvas
                        .toDataURL('image/svg')
                        .replace('image/svg', 'image/octet-stream');

                    triggerDownload(imgURI, 'issues_diagram.png');
                } catch (e) {
                    console.error('[ERROR] ', e, image);
                    notify('[ERROR] ' + e.message + "\n\nTry downloading by righ clicking the image");

                    outEl.innerHTML = '';
                    outEl.appendChild(canvas); // stupid dirty hack...
                }

            };

            image.crossOrigin = 'anonymous';
            image.referrerPolicy = 'no-referrer';
            image.src = url;
        }

        let triggerDownload = (imgURI, fileName) => {
            let a = document.createElement('a')

            if (!openImgEl.checked) {
                a.setAttribute('download', !!fileName ? fileName : 'issues_diagram.svg')
            }
            a.setAttribute('href', imgURI)
            a.setAttribute('target', '_blank')

            a.click()
        }

        function downloadDiagramAsSvg() {
            // var btn = document.querySelector('button')
            var svg = document.querySelector('svg')

            if (!svg) {
                notify('Click "Show diagram" button before trying to export');

                return;
            }

            let data = (new XMLSerializer()).serializeToString(svg)
            let svgBlob = new Blob([data], {type: 'image/svg+xml;charset=utf-8'})
            let url = URL.createObjectURL(svgBlob)

            triggerDownload(url, 'issues_diagram.svg')
        }

        function showDiagram(data) {
            outEl.innerHTML = '';

            if (!data) {
                notify('No issues found for the query');
                outCollapse.show();

                return;
            }

            if (data.total >= data.maxResults) {
                notify('Reached page items limit. Not all issues will be displayed. Update JQL query if possible');
            }

            let tplEl = document.getElementById('mermaid-tpl');
            let el = tplEl.content.cloneNode(true);

            outEl.appendChild(el.firstElementChild);
            outCollapse.show();

            makeDiagram(data.issues).then(function (diagram) {
                mermaid.render('mermaid', diagram).then((v) => {
                    inEl.value = diagram
                    outEl.innerHTML = v.svg;
                    // console.log('[RENDER]', outEl.innerHTML);
                });
            });
        }

        function formatTime(seconds) {
            if (!seconds) {
                return '';
            }

            var sec_num = parseInt(seconds, 10);
            var hours   = parseInt(Math.floor(sec_num / 3600), 10);
            var minutes = parseInt(Math.floor((sec_num - (hours * 3600)) / 60), 10);
            // var seconds = parseInt(sec_num - (hours * 3600) - (minutes * 60), 1);

            var parts = [];
            if (hours > 0) {
                parts.push(hours + 'h');
            }

            if (minutes > 0) {
                parts.push(minutes + 'm');
            }

            return parts.join(' ');

            // if (hours   < 10) {hours   = "0"+hours;}
            // if (minutes < 10) {minutes = "0"+minutes;}
            // if (seconds < 10) {seconds = "0"+seconds;}

            // return hours + ':' + minutes + ':' + seconds;
        }

        function makeEstimate(item) {
            if (!item) {
                return ''
            }

            let estimate = _.get(item, 'fields.aggregatetimeoriginalestimate');

            if (!estimate && _.get(item, 'fields.aggregatetimeestimate')) {
                estimate = item.fields.aggregatetimeestimate;
            }

            if (!estimate && _.get(item, 'fields.timeoriginalestimate')) {
                estimate = item.fields.timeoriginalestimate;
            }

            if (!estimate && _.get(item, 'fields.timeestimate')) {
                estimate = item.fields.timeestimate;
            }

            return formatTime(estimate)
        }

        function makeTimeSpent(item) {
            let timespent = _.get(item, 'fields.aggregatetimespent')

            if (!timespent) {
                timespent = _.get(item, 'fields.timespent')
            }

            return formatTime(timespent)
        }

        function makeNode(item) {
            let title = makeTitle(item, shortIssueEl.checked, true);

            let left, right;
            let fillColor;
            let styles = []
            const strokeWidth = shortIssueEl.checked ? '2px' : '4px'

            switch (_.get(item, 'fields.status.name')) {
                case 'To Do':
                case 'Ready for Development':
                case 'Blocked/Hold':
                    styles.push('stroke:#990000')
                    styles.push(`stroke-width:${strokeWidth}`)
                    break;

                case 'In Progress':
                    styles.push('stroke:#cc5200')
                    styles.push(`stroke-width:${strokeWidth}`)
                    break;

                case 'Done':
                case 'Abandoned':
                    styles.push('stroke:#4d9900')
                    styles.push(`stroke-width:${strokeWidth}`)
                    break;

                default:
                    // nothing
            }

            switch (_.get(item, 'fields.issuetype.name')) {
                case 'Bug':
                    left = '{' + '{';
                    right = '}' + '}';
                    styles.push('fill:#e60073')
                    break;

                case 'Epic':
                    left = '>';
                    right = ']';
                    styles.push('fill:#cc00cc')
                    break;

                case 'Sub-task':
                    left = '([';
                    right = '])';
                    styles.push('fill:#66ccff')
                    break;

                case 'Task':
                    left = '(';
                    right = ')';
                    styles.push('fill:#9999ff')
                    break;

                case 'Story':
                    left = '(';
                    right = ')';
                    styles.push('fill:#009900')
                    break;

                default:
                    left = '[[';
                    right = ']]'
            }

            let out = []

            if (!shortIssueEl.checked) {
                out.push(`    ${item.key}${left}"\`${title}`);

                const estimate = makeEstimate(item)
                const timespent = makeTimeSpent(item)

                if (!!estimate) {
                    out.push(`**Estimate:** ${estimate}`);
                }

                if (!!timespent) {
                    out.push(`**Spent:** ${timespent}`);
                }

                const assignee = _.get(item, 'fields.assignee.displayName')
                if (assignee) {
                    out.push(`**Assignee:** ${assignee}`)
                }

                const extraParams = getListExtraParams();
                extraParams.forEach((param) => {
                    let val = _.get(item, param.path);
                    if (typeof val === 'object') {
                        val = JSON.stringify(val);
                    }

                    out.push(`**${param.label}:** ${val}`)
                });

                out.push(`\`"${right}`);
            } else {
                out.push(`    ${item.key}${left}"${title}"${right}`);
            }

            if (styles.length > 0) {
                out.push(`    style ${item.key} ${styles.join(',')}`);
            }

            return out.join("\n")
        }

        function makeDiagram(issues) {
            let hideParentsBtn = document.getElementById('hide-parents');
            let hideTestsBtn = document.getElementById('hide-tests');
            let out = [
                '---',
                'title: Issues Flowchart at ' + (new Date()).toLocaleString(),
                '---',
                'flowchart LR'
            ];
            let issueKeys = [];

            let addIssueDesc = function (item) {
                if (issueKeys.indexOf(item.key) !== -1) {
                    return; // already added
                }

                item.fields.summary = item.fields.summary.replaceAll('"', '');

                out.push(makeNode(item));
                out.push(`    click ${item.key} href "${makeIssueHref(item)}" _blank`);
                out.push(''); // separator

                issueKeys.push(item.key);
            };

            let issueLinks = []
            let refKeys = [];
            let addRefIssue = function (type, from, to) {
                if (hideTestsBtn.checked && ( _.get(from, 'fields.issuetype.name') === 'Test' || _.get(to, 'fields.issuetype.name') === 'Test')) {
                    return; // skip test issue refs from display
                }

                let key = type.name + '.' + _.sortBy([from.key, to.key]).join('.');
                if (refKeys.indexOf(key) !== -1) {
                    return; // already added
                }

                switch (type.name) {
                    case 'Parent':
                        out.push(`    ${from.key} -. parent .-> ${to.key}`);
                        break;
                    case 'Blocks':
                        if (type.dir === 'blocks') {
                            out.push(`    ${from.key} -- blocks --> ${to.key}`);
                        } else {
                            out.push(`    ${to.key} -- blocks --> ${from.key}`);
                        }
                        break;
                    case 'Cloners':
                        if (type.dir === 'clones') {
                            out.push(`    ${from.key} -- clones --x ${to.key}`);
                        } else {
                            out.push(`    ${to.key} -- clones --x ${from.key}`);
                        }
                        break;
                    case 'Relates':
                        out.push(`    ${from.key} -- relates --- ${to.key}`);
                        break;
                    default:
                        out.push(`    ${from.key} o-- ${type.dir} --o ${to.key}`);
                }

                refKeys.push(key);
            };

            // TODO: group by parent task instead of relations. 2. fix links arrows, e.g. blocks. 3. multi lines to split parent, issues and refs

            issues.forEach(function (item) {
                addIssueDesc(item);

                if (item.fields.parent && !hideParentsBtn.checked) {
                    // if (!hideTestsBtn.checked || _.get(item.fields.parent, 'fields.issuetype.name') !== 'Test') {
                    //     addIssueDesc(item.fields.parent);
                    // }

                    if (
                        !hideParentsBtn.checked &&
                        !issueLinks.includes(item.fields.parent.key) &&
                        (!hideTestsBtn.checked || _.get(item.fields.parent, 'fields.issuetype.name') !== 'Test')
                    ) {
                        issueLinks.push(item.fields.parent.key);
                    }

                    addRefIssue({name: 'Parent', dir: 'parent'}, item, item.fields.parent);
                }

                if (item.fields.issuelinks && item.fields.issuelinks.length > 0) {
                    item.fields.issuelinks.forEach(function (ref) {
                        let issue;
                        let refType;

                        if (ref.outwardIssue) {
                            issue = ref.outwardIssue;
                            refType = ref.type.outward;
                        } else {
                            issue = ref.inwardIssue;
                            refType = ref.type.inward;
                        }

                        if (!issueLinks.includes(issue.key)) {
                            issueLinks.push(issue.key);
                        }

                        if (_.get(item, 'fields.parent.id') === issue.id) {
                            return; // if references parent issue then skip
                        }

                        // if (!hideTestsBtn.checked || _.get(issue, 'fields.issuetype.name') !== 'Test') {
                        //     addIssueDesc(issue);
                        // }

                        addRefIssue({name: ref.type.name, dir: refType}, item, issue);
                    });
                }
            });

            const finished = () => {
                // console.info('[Diagram] ', out.join("\n"));

                return out.join("\n");
            };

            const missingIssuesByRef = _.difference(issueLinks, issueKeys);
            if (missingIssuesByRef.length > 0) {
                console.info('[missing by link keys]', missingIssuesByRef);

                return searchIssues('issue IN (' + missingIssuesByRef.join(', ') + ')')
                    .then((response) => {
                        response.data.issues.forEach((item) => {
                            if (!hideTestsBtn.checked || _.get(item, 'fields.issuetype.name') !== 'Test') {
                                addIssueDesc(item);
                            }
                        })
                    }).then(finished);
            }

            return new Promise(finished);
        }

        function searchIssues(jqlQuery) {
            return axios({
                    method: 'get',
                    url: _.trimEnd(uriBaseEl.value, '/') + '/search',
                    params: {jql: jqlQuery},
                    auth: {
                        username: userEl.value,
                        password: tokenEl.value
                    },
                    withCredentials: true,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                })
                .catch(function (e) {
                    console.error(e);
                    notify('[ERROR] ' + e.message);
                });
        }


        function showFilters(data) {
            outEl.innerHTML = '';
            if (!data) {
                outCollapse.show();

                return;
            }

            let tplEl = document.getElementById('filter-tpl');

            data.forEach(function (item) {
                let el = tplEl.content.cloneNode(true)
                el.querySelector('.card-title').innerText = '[' + item.id + '] ' + item.name;
                el.querySelector('.filter-desc').innerText = item.description;
                el.querySelector('.filter-code').innerText = item.jql;
                el.querySelector('.filter-self').href = item.self;
                el.querySelector('.filter-search').href = item.searchUrl;
                el.querySelector('.filter-issues').href = item.viewUrl;

                outEl.appendChild(el.firstElementChild)
            });

            outCollapse.show();
        }

        function makeTitle(issue, shortIssue, useIcons) {

            let title = '';
            if (!!useIcons && !disableIconsEl.checked) {
                let symbol;
                switch (_.get(issue, 'fields.status.name')) {
                    case 'To Do':
                    case 'New':
                    case 'Ready for Development':
                    case 'Ready for Grooming':
                        symbol = 'fa:fa-spinner'
                        break;

                    case 'Blocked/Hold':
                        symbol = 'fa:fa-lock'
                        break;

                    case 'In Progress':
                        symbol = 'fa:fa-star'
                        break;

                    case 'Done':
                    case 'Ready For Release':
                        symbol = 'fa:fa-check';
                        break;

                    case 'Abandoned':
                        symbol = 'fa:fa-ban'
                        break;

                    case 'Ready for Testing':
                    case 'Testing':
                        symbol = 'fa:fa-microscope'
                        break;

                    default:
                        symbol = ''
                }

                if (!!symbol) {
                    title += symbol + ' ';
                }
            }


            if (!shortIssue) {
                title += '[ ' + _.get(issue, 'fields.issuetype.name') + ' | ' +
                    _.get(issue, 'fields.status.name') + ' | ' + issue.key  + ' ] ' + "\n";
            } else {
                title += '[' + _.get(issue, 'fields.issuetype.name') + '|' +
                    _.get(issue, 'fields.status.name') + '|' + issue.key  + '] '
            }

            return title + _.get(issue, 'fields.summary');
        }

        function makeIssueHref(issue) {
            return jiraUri + '/browse/' + issue.key;
        }

        function textEncode (str) {
            if (window.TextEncoder) {
                 return new TextEncoder('utf-8').encode(str);
            }

            var utf8 = unescape(encodeURIComponent(str));
            var result = new Uint8Array(utf8.length);
            for (var i = 0; i < utf8.length; i++) {
                result[i] = utf8.charCodeAt(i);
            }

            return result;
        }

        function makeMermaidUrl(source, type) {
            let data = JSON.stringify({
                code: source,
                mermaid: "{\"theme\": \"default\"}",
                autoSync: true,
                updateDiagram:false,
                panZoom:false,
                editorMode:"code"
            });

            const _hasBuffer = typeof Buffer == "function";

            const _fromCC = String.fromCharCode.bind(String);
            // const _U8Afrom = typeof Uint8Array.from == "function" ? Uint8Array.from.bind(Uint8Array) : t => new Uint8Array(Array.prototype.slice.call(t, 0))
            const _mkUriSafe = t => t.replace(/=/g, "").replace(/[+\/]/g, e => e == "+" ? "-" : "_");

            // const _fromUint8Array = t => Buffer.from(t).toString("base64")
            const _fromUint8Array = _hasBuffer ? t => Buffer.from(t).toString("base64") : t => {
                let r = [];
                for (let n = 0, o = t.length; n < o; n += 4096) r.push(_fromCC.apply(null, t.subarray(n, n + 4096)));

                return window.btoa(r.join(""))
            };

            const fromUint8Array = (t, encode = true) => encode ? _mkUriSafe(_fromUint8Array(t)) : _fromUint8Array(t)

            const encoded = new TextEncoder().encode(data);
            const serialized = pako.deflate(encoded, {level: 9});

            const compressed = fromUint8Array(serialized, true);

            return 'https://mermaid.ink/img/pako:' + compressed + '?type=' + type;
        }

        function makeKrokiUrl(source, type, diagramType = 'mermaid') {
            const compressed = window.btoa(pako.deflate(textEncode(source), { level: 9, to: 'string' }))
                    .replace(/\+/g, '-')
                    .replace(/\//g, '_');

            // Kroki usage - good for different diagrams
            var urlPath = diagramType + '/' + type + '/' + compressed;

            return 'https://kroki.io/' + urlPath;
        }

        function makeDiagramUrl(type) {
            let url;
            let source = inEl.value.trim();
            const typeName = !!type ? type : 'svg';

            if (typeName === 'svg') {
                // source = source.replaceAll(/fa:\S+ ?/g, ''); // remove font awesome
                source = source.replaceAll(/\n[ ]*click [^\n]+/gi, ''); // remove links that cause problems for svg
            }

            // console.log('[SRC]', source)

            if (source != '') {
                const url = makeMermaidUrl(source, typeName)
                // console.log('[URL]', url);

                triggerDownload(url, 'issues_diagram.' + typeName);

                return url;
            }

            notify('Failed to generate diagram URL. Check if diagram input is defined');

            return null;
        }

        function getListExtraParams() {
            let list = [];
            let paths = extraParamsEl.value.trim();

            if (paths === '') {
                return list;
            }

            let els = _.filter(paths.split("\n"));

            els.forEach((el) => {
                const parts = el.split(':', 2).map((v) => v.trim());

                if (parts.length >= 2) {
                    list.push({label: parts[1], path: parts[0]});
                } else {
                    list.push({label: parts[0], path: parts[0]});
                }
            });

            // console.info('[extra params RAW]', els, list);

            return list;
        }

        function showIssues(data) {
            let outEl = document.getElementById('output');
            let tplEl = document.getElementById('issue-tpl')
            let issueTplEl = document.getElementById('issue-link-tpl')
            let extraParams = getListExtraParams();

            outEl.innerHTML = ''; // clear input

            data.issues.forEach(function (item) {
                let el = tplEl.content.cloneNode(true);
                el.querySelector('.card-header').innerText = makeTitle(item, shortIssueEl.checked, false);
                el.querySelector('.issue-desc').innerText = _.truncate(item.fields.description, {length: 300});

                el.querySelector('.issue-self').href = makeIssueHref(item);

                let parentEl = el.querySelector('.issue-parent');
                if (!item.fields.parent) {
                    parentEl.parentNode.removeChild(parentEl);
                } else {
                    let parentInfo = item.fields.parent;
                    parentEl.href = makeIssueHref(parentInfo);
                    parentEl.title = makeTitle(parentInfo, true, false);
                }

                let linksEl = el.querySelector('.issue-links');

                let linksCount = 0;
                if (item.fields.issuelinks && item.fields.issuelinks.length > 0) {
                    item.fields.issuelinks.forEach(function (ref) {
                        let issue;
                        let refType;

                        if (ref.outwardIssue) {
                            issue = ref.outwardIssue;
                            refType = ref.type.outward;
                        } else {
                            issue = ref.inwardIssue;
                            refType = ref.type.inward;
                        }

                        if (_.get(item, 'fields.parent.id') === issue.id) {
                            return; // if references parent issue then skip
                        }

                        let itemEl = issueTplEl.content.cloneNode(true);


                        itemEl.querySelector('.issue-label').innerText = refType;

                        let linkEl = itemEl.querySelector('.issue-ref');
                        linkEl.innerText = makeTitle(issue, true, false);
                        linkEl.href = makeIssueHref(issue);

                        linksEl.appendChild(itemEl);
                        linksCount += 1;
                    });
                }

                if (linksCount === 0) {
                    linksEl.parentNode.removeChild(linksEl);

                    let refHeaderEl = el.querySelector('.issue-ref-header');
                    refHeaderEl.parentNode.removeChild(refHeaderEl);
                }

                let extraParamsContainer = el.querySelector('.issue-extra');
                if (extraParams.length > 0) {
                    extraParams.forEach((param) => {
                        let subEl = document.createElement('DIV');
                        subEl.classList.add('row', 'mb-2');
                        let val = _.get(item, param.path);
                        if (typeof val === 'object') {
                            val = JSON.stringify(val);
                        }

                        subEl.innerHTML = `<div class="col-2"><strong>${param.label}</strong></div><div class="col-10">${val}</div>`;

                        extraParamsContainer.appendChild(subEl);
                    });
                } else {
                    extraParamsContainer.parentNode.removeChild(extraParamsContainer);
                }


                outEl.appendChild(el.firstElementChild)
            });

            outCollapse.show();
        }
    })()

</script>
</body>
</html>
